*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region col*/
.hr_side{
    background-color: var(--bts-txt-white);
    height: 5px;
}

/* #endregion col*/

/* #region color */

:root {
    --bts-primary: #1abc9c;
    --bts-secondary: #2c3e50;
    --bts-txt-white: #ffffff;
    --bts-secondary-darklight: #3a546d;
    --bts-img-1: #ba4b63;
    --bts-img-2: #1ea4b6;
    --bts-img-3: #140f0f;
    --bts-img-4: #1c83c1;
    --bts-img-5: #1c83c1;
    --bts-img-6: #ccb2a3;
}
.prim {
    background-color: var(--bts-primary);
}
.secdn {
    background-color: var(--bts-secondary);
}
.foot {
    background-color: var(--bts-secondary-darklight);
}
.txt_w {
    color: var(--bts-txt-white);
}
.txt_sec {
    color: var(--bts-secondary-darklight);
}
.txt_prim {
    color: var(--bts-primary);
}
/* #endregion color*/

/* #region spacing*/

.fs_28{
    font-size: 28px;
}

.fs_30{
    font-size: 30px;
}

/* #endregion spacing*/

/* #region utilities*/



/* #endregion utilities*/


